@import url(http://fonts.googleapis.com/css?family=Raleway:500)
@import "normalize.css"
@import "css3"
@import "table"

html,body
  margin: 0
  padding: 0

body
  font-family: 'Raleway', sans-serif
  background: #efefef url('../imgs/noisy-texture-100x100-o17-d21-c-323838-t0.png')

h1,h2,h3
  text-align: center

small
  font-size: 50%

.controls
  text-align: center
.button
  outline: 0
  display: inline-block
  padding: 8px 12px
  line-height: 20px
  border: 1px solid #ccc
  border-color: rgba(0,0,0,.1) rgba(0,0,0,.1) rgba(0,0,0,.3)
  background: #e6e6e6
  color: #333
  text-align: center
  /* Decoration
  border-radius: 4px
  text-decoration: none
  text-shadow: 0 1px 1px rgba(255,255,255, .75)
  background-image: linear-gradient(to bottom, #ffffff, #e6e6e6)
  background-repeat: repeat-x
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05)
  &:hover
    background-position: 0 -15px
    -webkit-transition: background-position 1s linear
    transition: background-position 0.1s linear

.disabled
  cursor: default
  opacity: .75
  box-shadow: none 
  background-image: none

/* Icons
[class^="icon-"], [class*=" icon-"]
  width: 14px
  height: 14px
  margin-bottom: -1px
  display: inline-block
  line-height: 14px
  background-image: url("../imgs/glyphicons-halflings.png")
  background-repeat: no-repeat
  vertical-align: center


.icon-time
  background-position: -48px -24px
/* END icons

.page
  margin: 10px auto
  max-width: 350px
  padding: 0 20px
  

.window
  background: #f9f9f9
  border-radius: 4px
  padding: 20px
  box-shadow: 5px 5px 15px rgba(0,0,0,.6)
 
.hidden
  display: none
